<h1>Editing post user</h1>

<%= render "form", post_user: @post_user %>

<br>

<div>
  <%= link_to "Show this post user", @post_user %> |
  <%= link_to "Back to post users", post_users_path %>
</div>
