<p style="color: green"><%= notice %></p>

<h1>Post users</h1>

<div id="post_users">
  <% @post_users.each do |post_user| %>
    <%= render post_user %>
    <p>
      <%= link_to "Show this post user", post_user %>
    </p>
  <% end %>
</div>

<%= link_to "New post user", new_post_user_path %>
